p {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 20px;
 letter-spacing: 2px;
 word-spacing: 2px;
 color: midnightblue;
 font-weight: 400;
 text-align: center;
 text-shadow: 2px 2px 2px #AEAEAE;
 border-left: 3px;
 border-spacing: 30px;
 border-color: firebrick;
 padding-top: 80px;
 padding-bottom: 80px;
   }
  
q {
 font-style: italic;
 }


h1 {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 25.6px;
 letter-spacing: 2px;
 word-spacing: 2px;
 color:indianred;
 font-weight: normal;
 font-style:italic    ;
 font-variant:normal;
 text-align: center;
  }
  
h3 { 
 font-size: 20px;
 font-family: Helevtica, sans-serif;
 color: indianred;
 text-align: center;
  }
  
h5 { 
 font-size: 15px;
 font-family: Helvetica, sans-serif;
 color: midnightblue;
 text-align: left;
  }
header {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 32px;
 letter-spacing: 2px;
 word-spacing: 2px;
 color: indianred;
 font-style: normal;
 font-variant: normal;
 text-align: center;
  }
body {
 background: -webkit-radial-gradient(rgb(255, 82, 172), rgb(252, 210, 227));
 background: radial-gradient(rgb(255, 82, 172), rgb(252, 210, 227));
 width: 90%;
 margin-left: auto;
 margin-right: auto;
 background-image: url(https://wallpaperaccess.com/full/1382446.png);
 background-repeat: no-repeat;
 background-size:cover;
     }
ol {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 20px;
 letter-spacing: 2px;
 word-spacing: 2px;
 color: indianred;
 font-style: normal;
 font-variant: normal;
 text-align: left;
     }

table:nth-child(even),tr,th {
 padding: 15px;
 text-align: left;
 border-bottom: 1px solid #ddd;
 background-color: #f2f2f2;
}

#bien::before {
 content: url(/img/bien.png);
 background-repeat: no-repeat;
 position: relative;
 left: -3px;
 top: 10px;
  }
  
#mal::before {
content: url(/img/mal.png);
background-repeat: no-repeat;
position: relative;
left: -3px;
top: 10px;
  }
  
#chat::before {
 content: url(/img/chat.png);
 background-repeat: no-repeat;
 position: relative;
 left: -3px;
 top: 10px;
  }

.container {
 width: auto;
 max-height: fit-content;
 display: flex;
 justify-content: center;
  }

h2 {
font-family: Arial, Helvetica, sans-serif;
font-size: 35px;
font-weight: 400;
letter-spacing: 2px;
word-spacing: 2px;
text-align: center;
padding-top: 40px;
padding-bottom: 40px;
color: rgb(84, 26, 45);
  }